.container{
    height: 100vh;
    width: 100vw;
    background-image: url(../../../assets/home/background-home-desktop.jpg);
    background-position: top left;
    background-size: cover;
    color: white;
    padding: 22rem 12rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    h2{
        font-size: 2rem;
        font-weight: 100;
        text-transform: uppercase;
    }

    h1{
        font-size: 9rem;
        font-weight: 100;
        text-transform: uppercase;
        letter-spacing: .8rem;
    }

    p{
        width: 32rem;
        font-size: 1.5rem;
    }

    button{
        position: absolute;
        right: 10rem;
        bottom: 10rem;
        height: 18rem;
        width: 18rem;
        border-radius: 100%;
        border: none;
        font-size: 2rem;
        font-weight: 100;
        letter-spacing: 2px;
        text-transform: uppercase;
        cursor: pointer;
        transition: box-shadow ease-in-out .5s;

        &:hover{
            box-shadow: 0 0 0 5rem rgba(255, 255, 255, 0.2);
        }
    }
}

@media only screen and (max-width: 1250px) {
    .container{
        background-image: url(../../../assets/home/background-home-tablet.jpg);
        padding: 0;
        width: 100%;
        padding-top: 12rem;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: auto;

        h2{
            font-size: 1.6rem;
        }

        h1{
            font-size: 10rem;
        }

        p{
            width: 30rem;
        }

        button{
            position: static;
            margin-top: 10rem;
            margin-bottom: 10rem;
            bottom: 0;
        }
    }
}

@media only screen and (max-width: 600px) {
    .container{
        background-image: url(../../../assets/home/background-home-mobile.jpg);

        h2{
            font-size: 1.3rem;
            letter-spacing: 1px;
        }

        h1{
            font-size: 6rem;
            letter-spacing: .5rem;
        }

        p{
            width: 100%;
            padding: 0 3rem 0 3rem;
        }

        button{
            margin-top: 4rem;
        }
    }
}