<nav>
    <img src="../../../assets/shared/logo.svg" alt="logo">
    <div class="space-line"></div>
    <ol class="menu">
        <li (click)="navigate('')">Home</li>
        <li (click)="navigate('/destination')">Destination</li>
        <li (click)="navigate('/crew')">Crew</li>
        <li (click)="navigate('/technology')">Technology</li>
    </ol>
    <div (click)="toggleMobileMenu()" class="burger">
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div class="mobile">   
        <button (click)="toggleMobileMenu()" class="close-mobile">X</button> 
        <ol class="mobile-menu">
            <li (click)="navigate('')">Home</li>
            <li (click)="navigate('/destination')">Destination</li>
            <li (click)="navigate('/crew')">Crew</li>
            <li (click)="navigate('/technology')">Technology</li>
        </ol>
    </div>
</nav>